.tarjeta3{
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.tarjeta3{
	position: fixed;
	top: 0;
	left: 0;
	background: rgba(0,0,0,0.5);
	transition: all 500ms ease;
	opacity: 0;
	visibility: hidden;
}
#btn-tarjeta3:checked ~ .tarjeta3{
	opacity: 1;
	visibility: visible;
} 
.contenedor3{
	width: 600px;
	height:500px;
	margin: auto;
	background: #2a262c;
	box-shadow: 1px 7px 25px rgba(0, 0, 0, 0.6);
	transition: all 500ms ease;
	position: relative;
	transform: translateY(-10%);
}
#btn-tarjeta3:checked ~ .tarjeta3 .contenedor3{
	transform: translateY(0%);
	visibility: visible;
} 
.contenedor3 header{
	padding: 10px;
	background: #9d00ff;
	color: #fff;
}
.contenedor3 label{
	position: absolute;
	top: 10px;
	right: 10px;
	color: #fff;
	font-size: 15px;
	cursor: pointer;
}
.contenido3{
	width: 100%;
	padding: 10px; 
}
.contenido3 h3{
	margin-bottom: 10px;
}
.contenido3 p{
	margin-bottom: 7px;
}
#btn-tarjeta3{
	display: none;
}
.lbl-tarjeta3{
	margin-top: 10px;
	text-decoration: none;
	display: inline-block;
	border-radius: 5px;
	color: #bfab93;
	background-color: #7345D6;
	padding: 10px 15px;
	cursor: pointer;
    font-size: 18px;
}
@media only screen and (min-width:320px) and (max-width:768px){
	.contenedor{
		width: 95%;
	}
}







